# Any text or Word documents
*.docx
*.txt

# Python environment
python_env/

# The applications results .json file
*.json

# Environment variables
*.env

# Temporary files
*.tmp

# SQL folders
downloaded_sql_dump_files/
mysql_formated_files/
pg_formated_files/

# Miscellaneous
*.log
.DS_Store
.gitattributes